<h1>Welcome to FoodieTable</h1>
<p>Find me in app/views/foodies/index.html.erb</p>

<%= link_to 'Create an Account', new_foody_path %>
<p>or</p>
<p>Login</p> 
<render 'sessions/new'>
<!-- want the login form from sessions to show here -->