<h1>Hello Foodie! Let's find the restaurant you would like to eat at!</h1>
<p>What do you feel like eating?</p>
<p>Categories here</p>
<p>Here's a list of restaurants under that category.  Choose one</p>
<p>List of restaurants here</p>
<p>What time yo?</p>
<p>Available times here</p>

