
<% def time_to_next_quarter_hour(time) %> 
    <% array = time.to_a %>
    <% half = ((array[1] % 60) / 30.0).ceil %>
    <% array[1] = (half * 30) % 60 %>
    <% Time.local(*array) + (half == 4 ? 3600 : 0) %>
<% end %>

<% time_start = Time.now %></br>
<% time_end = Time.now.change({ hour: 22, min: 0, sec: 0 }) %>
<% time_now = time_to_next_quarter_hour(Time.now) %>

<h2>Make a Reservation</h2>

<li><%= time_now.strftime("%H:%M") %>		
	<% reservetime = 10 %>
	<%= link_to "Reserve", new_restaurant_reservation_path(@restaurant,@reservation, :reservationtime => reservetime) %>
</li>
<% while time_now < time_end %>
	<% time_now += 10*60*3 %>
	<li>
		<%= texttime = time_now.strftime("%H:%M") %>
		<%= link_to "Reserve", new_restaurant_reservation_path(@restaurant,@reservation,:reservationtime => texttime) %>
		Space Available: 
	</a>
	</li>
<% end %>
<!-- 
for every restaurant reservation
	if (reservation.time is greater or equal to time_now by an hour)
		space_left -= reservation.seats
	end
end
 -->




